#mainIconContainer {
position: relative;
display: block;
top: 20px;
/*border-style:solid;
border-width:5px;
margin: 0px auto;*/
}

.row1 {
/*position: absolute;
left: 100px;*/
/*top: 20px;*/
height: 190px;
width: 900px;
margin: 0px auto -70px auto;
display: table;
/*border-style:solid;
border-width:5px;*/
}



#button1 a {
/*position: absolute;
left: 0px;
display:block;
float: left;*/
width: 190px;
height: 190px;
background-image: url(icons/button1.png);
 display:inline-block;    
    width:33%;
    text-align:center;
	background-repeat:no-repeat;	 
    background-position:center; 

}

#button1 a:hover {

width: 190px;
height: 190px;
background-image: url(icons/button1_over.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:33%;
}

#button1 a:active{

width: 190px;
height: 190px;
background-image: url(icons/button1_down.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:33%;
}

/**********************************************/

#button2 a {
/*position: absolute;
left: 300px;
display:block;
float: left;*/
margin: 0px auto;
width: 190px;
height: 190px;
background-image: url(icons/button2.png);
 display:inline-block;    
    width:33%;
    text-align:center;
	background-repeat:no-repeat;	 
    background-position:center; 

}

#button2 a:hover {

width: 190px;
height: 190px;
background-image: url(icons/button2_over.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:33%;
}

#button2 a:active{

width: 190px;
height: 190px;
background-image: url(icons/button2_down.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:33%;
}

/**********************************************/

#button3 a {
/*position: absolute;
left: 600px;
display:block;
float: right;*/
width: 190px;
height: 190px;
background-image: url(icons/button3.png);
 display:inline-block;    
    width:33%;
    text-align:center;
	background-repeat:no-repeat;	 
    background-position:center; 

}

#button3 a:hover {

width: 190px;
height: 190px;
background-image: url(icons/button3_over.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:33%;
}

#button3 a:active{

width: 190px;
height: 190px;
background-image: url(icons/button3_down.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:33%;
}

/**********************************************/

#row2 {
height: 190px;
width: 600px;
margin: 0px auto 0px auto;
display: table;

/*border-style:solid;
border-width:5px;*/
}

#button4 a {
/*position: absolute;
left: 300px;
display:block;
float: left;*/
margin: 0px auto;
width: 190px;
height: 190px;
background-image: url(icons/button4.png);
 display:inline-block;    
    width:49%;
    text-align:center;
	background-repeat:no-repeat;	 
    background-position:center; 

}

#button4 a:hover {

width: 190px;
height: 190px;
background-image: url(icons/button4_over.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:49%;
}

#button4 a:active{

width: 190px;
height: 190px;
background-image: url(icons/button4_down.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:49%;
}

/**********************************************/

#button5 a {
/*position: absolute;
left: 600px;
display:block;
float: right;*/
width: 190px;
height: 190px;
background-image: url(icons/button5.png);
 display:inline-block;    
    width:49%;
    text-align:center;
	background-repeat:no-repeat;	 
    background-position:center; 

}

#button5 a:hover {

width: 190px;
height: 190px;
background-image: url(icons/button5_over.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:49%;
}

#button5 a:active{

width: 190px;
height: 190px;
background-image: url(icons/button5_down.png);
background-repeat:no-repeat;	 
    background-position:center; 
	display:inline-block;    
    width:49%;
}

/**********************************************/