@font-face {
    font-family: 'cookiesregular';
    src: url('fonts/cookies-webfont.eot');
    src: url('fonts/cookies-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cookies-webfont.woff') format('woff'),
         url('font/scookies-webfont.ttf') format('truetype'),
         url('fonts/cookies-webfont.svg#cookiesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
outline: 0;	
}

a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}

body {
font-family: "cookiesregular", Georgia, serif;
background-color: #ededed;
font-size: 2em;
}
.page-wrap{

}

.heading {
position: absolute;
left: 340px;
top: 15px;
color: #fff;
text-align: center;
font-size: 1.6em;	
font-weight: normal;
}
#banner {
position: relative;
width: 960px;
height: 200px;
margin: 0px auto;
background-color: #fef200;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;

 box-shadow:
 0 1px 2px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/

/*border-style:solid;
border-width:2px;
border-color: #555e9f;*/



}
.logo {
float: left;
margin: 25px; 
padding: 0px;

width: 400px;
height: 150px;
background-color: white;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;

/*border-style:solid;
border-width:2px;
border-color: #555e9f;*/

-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.logo a img {
border-style:none;
}

.infoArea {
position: relative;
float: left;
margin: 25px 0px 0px 0px;
padding: 0px;
width: 485px;
height: 100px;
background-color: white;
text-align:center;
	
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;

/*border-style:solid;
border-width:2px;
border-color: #555e9f;*/

-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');


}

.infoArea p {
/*position: absolute;*/
margin: 20px 20px;


}

.bannerLink {
position: absolute;
z-index: 100;
top: 120px;
left: 530px;
margin: 25px; 
padding: 0px;

width: 100px;
height: 30px;
background-color: white;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;	
text-align:center;

-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.galleryNext {
cursor: hand;
position: absolute;
z-index: 100;
top: 120px;
left: 530px;
margin: 25px; 
padding: 0px;

width: 100px;
height: 30px;
background-color: white;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;	
text-align:center;

-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.galleryNext :hover{
cursor: pointer;
cursor: hand;
}

#bl2 {
left: 710px;	
}



#bl1 span {
line-height: 1.3em;
font-size: .7em;
color: black;	
}

#bl2 span {
line-height: 1.3em;
font-size: .7em;
color: black;	
}


#olympicHistory p {
color: #555e9f;
margin: 35px 0px;
}

#paralympicHistory p {
color: #555e9f;
margin: 35px 0px;
}

#events p {
color: #555e9f;
}

#stats{
color: #555e9f;	
}

#disclaimer p{
color: #555e9f;	
margin: 35px 0px;	
}

#references p{
color: #555e9f;	
margin: 35px 0px;	
}

#gallery p{
color: #555e9f;	
font-size: .6em;
margin: 20px 10px;		
}



#eventsText p, #eventsText ul {
	text-align: center;
	list-style-position: inside;
	
}

.logo img {
position: relative;
top: 15px;
left:10px;
width: 95%;

}



#contentContainer {
position: relative;
width: 960px;
height: 430px;
margin: 10px auto;
background-color: #555e9f;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;

 box-shadow:
 0 1px 2px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
/*
border-style:solid;
border-width:5px;
margin: 0px auto;
*/
}

.row1 {
position:relative;
top: 30px;
height: 190px;
width: 950px;
/*border-style:solid;
border-width:5px;*/
}

.row1 a {
margin: 0px 62px;
padding: 0px;
float: left;
width: 190px;
height: 190px;
background-repeat:no-repeat;	 
background-position:center; 
-moz-border-radius-bottomright: 95px;
border-bottom-right-radius: 95px;
-moz-border-radius-topright: 95px;
border-top-right-radius: 95px;
-moz-border-radius-bottomleft: 95px;
border-bottom-left-radius: 95px;
-moz-border-radius-topleft: 95px;
border-top-left-radius: 95px;
/*border-style:solid;
border-width:5px;*/
}

.buttons {
z-index: 100;
}

#button1 a {
  background-image: url('images/mysprite.png');
  background-position: left -0px;
}

#button1 a:hover {
  background-image: url('images/mysprite.png');
  background-position: left -190px;
}

#button1 a:active{
  background-image: url('images/mysprite.png');
  background-position: left -380px;
}

/**********************************************/

#button2 a {
  background-image: url('images/mysprite.png');
  background-position: left -570px;
}

#button2 a:hover {
  background-image: url('images/mysprite.png');
  background-position: left -760px;
}

#button2 a:active{
  background-image: url('images/mysprite.png');
  background-position: left -950px;

}

/**********************************************/

#button3 a {
  background-image: url('images/mysprite.png');
  background-position: left -1140px;
}

#button3 a:hover {
  background-image: url('images/mysprite.png');
  background-position: left -1330px;
}

#button3 a:active{
  background-image: url('images/mysprite.png');
  background-position: left -1520px;
}

/**********************************************/

.row2 {
position:relative;
top: 20px;
height: 190px;
width: 950px;
/*border-style:solid;
border-width:5px;*/
}

.row2 a {
padding: 0px;
float: left;
width: 190px;
height: 190px;
background-repeat:no-repeat;	 
background-position:center; 
-moz-border-radius-bottomright: 95px;
border-bottom-right-radius: 95px;
-moz-border-radius-topright: 95px;
border-top-right-radius: 95px;
-moz-border-radius-bottomleft: 95px;
border-bottom-left-radius: 95px;
-moz-border-radius-topleft: 95px;
/*border-top-left-radius: 95px;
border-style:solid;
border-width:5px;*/
}

#button4 a {
margin: 0px 215px;
  background-image: url('images/mysprite.png');
  background-position: left -1710px;
}

#button4 a:hover {
  background-image: url('images/mysprite.png');
  background-position: left -1900px;
}

#button4 a:active{
  background-image: url('images/mysprite.png');
  background-position: left -2090px;
}

/**********************************************/

#button5 a {
margin: 0px -80px;
  background-image: url('images/mysprite.png');
  background-position: left -2280px;
}

#button5 a:hover {
  background-image: url('images/mysprite.png');
  background-position: left -2470px;
}

#button5 a:active{
  background-image: url('images/mysprite.png');
  background-position: left -2660px;
}

/**********************************************/

.footer  {
width: 960px;
height: 50px;
margin: 10px auto;
background-color: #555e9f;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;

 box-shadow:
 0 1px 2px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/ 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
 
/*border-style:solid;
border-width:5px;
margin: 0px auto;*/
}

.column1 p, .column1 ul{
font-size: .6em;
color: white;
line-height: 1.4em;
margin: 0px 25px;
text-align: justify;
}

.column1 {
position: relative;
float: left;
top: 15px;
left: 25px;
width: 900px;
height: 380px;
/*border-style:solid;
border-width:2px;
margin: 0px auto;/*/
}

.column1 ul li a {
	color: #fff;
}

.splitColumn1, .splitColumn2 {
position: relative;
float: left;
top: 50px;
left: 25px;
width: 450px;
height: 360px;
/*border-style:solid;
border-width:2px;
margin: 0px auto; */
}

.splitColumn1 ul li, .splitColumn2 ul li {
	font-family: "Arial Narrow";
	font-size: small;
	color: #fff;
	padding: 5px 0px
}

.splitColumn1 ul li a, .splitColumn2 ul li a {
	color: #fff;
}



#statsText ul li {
line-height: 1.9em;	
}

#statsText  ul li em{
font-style: normal;
font-size: 1.5em;

	
}

.floatingImage1 {
float: right;
width:240px;
margin: 10px 0px 0px 25px;
	
}

.floatingImage2 {
float: left;
width:240px;
margin-left: 25px;
	
}

#plImage {
float: right;
width:285px;
margin-left: 25px;	
}

#eventImgRight {
float: right;
width:250px;
margin-right:-20px;	
}

#eventImgLeft {
float: left;
width:250px;
margin: 12px 25px 0px -18px;	
}


#quizRow1, #quizRow2 {
position: relative;
float: left;
left: 25px;
width: 915px;
height: 180px;	
/*border-style:solid;
border-width:2px;
margin: 0px auto;*/
}

#quizRow1 a, #quizRow2 a{
text-decoration: none;
color: #000;	
}


#quizRow1 {
top: 25px;
/*border-style:solid;
border-width:2px;
margin: 0px auto;*/
}

#quizRow2 {
top: 45px;
/*border-style:solid;
border-width:2px;
margin: 0px auto;*/
}


.question {
position: absolute;
float: left;
height: 100%;
width: 33%;

border-style:solid;
border-width:1px;
border-color: #555e9f;

margin: 0px auto;
font-size: .6em;
background-color: #fff;
-moz-border-radius-bottomright: 25px;
border-bottom-right-radius: 25px;
-moz-border-radius-topright: 25px;
border-top-right-radius: 25px;
-moz-border-radius-bottomleft: 25px;
border-bottom-left-radius: 25px;
-moz-border-radius-topleft: 25px;
border-top-left-radius: 25px;
	
-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
box-shadow: 3px 3px 4px #000;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

#q2, #q5 {
left: 305px;
}

#q3, #q6 {
left: 610px;
}

.smallCorrect {

 position: absolute;
 bottom: 25px;
 right: 25px;
 width: 30px;
 visibility: hidden;
}

.smallIncorrect {

 position: absolute;
 bottom: 25px;
 right: 25px;
 width: 30px;
 visibility: hidden;
}

.largeNumber {
font-size: 4em;
line-height: 0;
}


.questions {
margin: 0;
padding: 0;
position: absolute;
top: 200px;
left: 50px;
/*border-style:solid;
border-width:1px;
border-color: #000;*/
width: 450px;
height: 180px;	
color: #000;
line-height: 1.2em;
visibility: hidden;

}


#question1Text {

z-index: 12;
}


#question2Text {
z-index: 13;
}

#question3Text {
z-index: 14;
}

#question4Text {
z-index: 15;
}

#question5Text {
z-index: 16;
}

#question6Text {
z-index: 17;
}


.answers {
margin-left: 25px;
position: absolute;
top: 220px;
left: 500px;
/*border-style:solid;
border-width:1px;
border-color: #000;*/
width: 320px;
height: 180px;	
color: #000;
line-height: 1.2em;
visibility: hidden;
}

.result {
margin-left: 25px;
position: absolute;
top: 220px;
left: 775px;
/*border-style:solid;
border-width:1px;
border-color: #000;*/
width: 125px;
height: 180px;	
color: #000;
line-height: 1.2em;
background:url(images/incorrect.png) no-repeat center center;
visibility: hidden;
}
.styledRadio {
float:left;
margin: 0px 25px;
}

#galleryTable {
	width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#galleryPhoto {
	width: 600px;
	display: block;
    margin: 0 auto;
}



.footer a {
font-size: .8em;
color: #ffffff;
position: relative;
top: 10px;	
left: 150px;
margin: 0px 90px;
	
}


.footer a: visited {
color: #ededed;
}
